.v-main.contents {
  .v-text-field .v-field--single-line input {
    .v-input__control {
      height: inherit;

      .v-input__slot {
        height: inherit;
        min-height: initial;
      }
    }
  }
  .card-title {
    font-size: 26px;
    padding-left: 0;
    border-bottom: 2px solid #e0e0e0;
    padding-bottom: 8px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    font-weight: 700;
  }
  .custom {
    .v-btn {
      height: 39px;
      border-color: #3e3e3e;
      &.v-btn--variant-flat {
        background: #3f4d66;
        color: #fff;
      }
    }
  }
  .custom-table {
    max-height: calc(100vh - 400px);
    overflow-y: auto;

    .v-table {
      border-top: 3px solid #00498c;
      box-shadow: 0;
      border-radius: 0;
      opacity: 1;
      line-height: 10px !important;
      th {
        font-size: 14px !important;
        font-weight: 700;
      }
      td {
        font-size: 13px !important;
      }
    }
  }
  .footer-row {
    position: sticky;
    bottom: 30px;
    margin-top: 60px;
    background: #fff;
    z-index: 10;
    .pagination {
      margin: 0 auto;
    }
  }

  .login-container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    h2 {
      font-size: 2.5em;
      margin-bottom: 0.5em;
    }

    p {
      font-size: 1.2em;
      margin-bottom: 2em;
    }

    .logo-container {
      margin-bottom: 24px;
    }

    .login-card {
      max-width: 600px;
      width: 100%;
      margin: 0 auto;
      border-radius: 24px;
      border: 1px solid #e5e5e5;
    }

    .box-title {
      font-size: 2.5em;
      margin-bottom: 1em;
      font-family: 'Poppins', sans-serif;
    }

    .login-sub {
      text-align: left;
      margin-top: 16px;
      font-size: 14px;
      line-height: 24px;
      color: #666;
    }

    .custom-btn {
      background-color: #000 !important;
      color: #fff !important;
      font-size: 18px !important;
      font-weight: 700 !important;
      border-radius: 12px !important;
      padding: 24px 24px !important;
    }

    .custom-btn:hover {
      background-color: #333 !important;
    }

    @media (max-width: 600px) {
      .login-container {
        padding: 16px;
      }

      .logo-container {
        h2 {
          font-size: 2em;
        }
        p {
          font-size: 1em;
        }
      }

      .login-card {
        border-radius: 16px;
        max-width: 400px;
      }

      .box-title {
        font-size: 2em;
      }

      .custom-btn {
        font-size: 14px !important;
        padding: 10px 20px !important;
      }
    }
  }
}
